body {
	background-color: lightgrey;
}

#image {
	height: 35%;
	width: 35%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#title {
	text-align: center;
	font-size: 200%;
}

#content {
	color: black;
	font-size: 120%;
	text-align: center;
}

#videotitle {
	font-size: 125%;
	text-align: center;
}

.links {
	font-size: 120%;
}

#bearfacts {
	font-size: 200%;
	text-align: center;
}

#linkcontent {
	font-size: 120%;
}
